body {
  background: rgb(232, 176, 245);

}
h1{
  text-align: center;
}
 .caixa1 {
   position: absolute;
   background: rgb(53, 242, 255);
   width: 200px;
   height: 200px;
   left: 50;
   right: 0%;
   bottom:0;
 }
 .caixa2 {
   position: absolute;
   background: rgb(53, 242, 255);
   width: 200px;
   height: 200px;
   left: 80;
   right: 0;
   top: 0%;
 }
